#header-nav{
	border: 1px solid black;
}
#header-nav{
	margin: 0;
	background-color: gray;
	height: 80px;
	border-radius: 0;
}
h1{
	color: black;
	margin-top: 5px;
	text-decoration: none;
	border-radius: 0;
	font-weight: bold;
	text-shadow: 1px 1px white;
}
.navbar-brand a:hover {
	text-decoration: none;
}
#content{
	background-color: silver;
	height: 1000px;
	margin-top: 50px;
	clear:both;
	margin-bottom: 10px;

}
h2{
	padding-top: 10px;
	height: 80px;
	width: 100%;
	font-size: 3em;
	background-color: white;
	font-weight: bold;
}
p{
	height:900px;
	font-size: 1.3em;
	overflow: hidden;
}
.navbar-default .navbar-toggle{
	border: 1px solid black;
	margin-top: 20px;
	background-color: lightgray;
}
.container-fluid>.navbar-collapse{
	margin-top: 10px;
	border:0;
}
#nav-list li{
	background-color: lightgray;
	border: 1px solid black;
	font-size: 2em;
}